h1{color:red;}
h2{color: #000000; font-size: 1em;}
h3{color:#000000;}

.app{
  background-color: #ccc;
min-height: 100vh;
display: flex;
justify-content: space-around;
text-align: center;
}

.CampingItem{
  color: black;
  font-weight: 200;
  background: white;
  width: 20%;
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

